html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
  }

  #bg {
    width: auto;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
  }
  
  #apples-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .apple {
    position: absolute;
    cursor: pointer;
    display: none;
    width: 20px; /* kleiner */
    height: 20px;
    background-color: red;
    transform: rotate(-45deg);
  }

  #apple1,
  #apple1::before,
  #apple1::after {
    display: block;
  }
  
  .apple::before,
  .apple::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
  }
  
  .apple::before {
    top: -10px;
    left: 0;
  }
  
  .apple::after {
    top: 0;
    left: 10px;
  }
  
  .stem {
    position: absolute;
    top: -7px;
    left: 97%;
    transform: translateX(-10%);
    transform: rotate(20deg);
    width: 3px;
    height: 8px;
    background-color: rgb(52, 25, 25);
    border-radius: 10px;
    z-index: -1;
  }
  
  #lightbox {
    display: none; /* standardmäßig versteckt */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  #lightbox-content {
    background-image: url("./pic/textbg.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    border-radius: 12px;
    width: 80%;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    text-align: center;
    position: relative;
  }
  
  #lightbox-text {
    font-size: 18px;
    color: #333;
  }

  #pics{
    width: 90%;
    margin-top: 3.5%;
    border-radius: 2rem;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  }
  
  #close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
  }
  
  #close-button:hover {
    color: #000;
  }

/*Positioning der Äpfel*/
#apple1 {
  position: absolute;
  content: "1" !important;
  top: 45%;
  left: 16%;
}

#apple2 {
  position: absolute;
  top: 38%;
  left: 12%;
}

#apple3 {
  position: absolute;
  top: 26%;
  left: 20%;
}

#apple4 {
  position: absolute;
  top: 18%;
  left: 33%;
}

#apple5 {
  position: absolute;
  top: 30%;
  left: 35%;
}

#apple6 {
  position: absolute;
  top: 19%;
  left: 47%;
}

#apple7 {
  position: absolute;
  top: 17%;
  left: 60%;
}

#apple8 {
  position: absolute;
  top: 23%;
  left: 83%;
}

#apple9 {
  position: absolute;
  top: 28%;
  left: 71%;
}

#apple10 {
  position: absolute;
  top: 37%;
  left: 81%;
}

#memoryContainer {
  display: flex;
  flex-wrap: wrap; /* Ermöglicht es den Karten, in mehreren Zeilen anzuzeigen */
  justify-content: center; /* Zentriert die Karten im Container */
  gap: 20px; /* Abstand zwischen den Karten */
  width: 100%;
  margin-top: 5rem;
}

#memoryContainer .card {
  width: calc(33.33% - 20px); /* Jede Karte nimmt etwa 1/3 der Breite des Containers ein */
  max-width: calc(33.33% - 20px); /* Stellt sicher, dass die Karten nicht breiter als 1/3 sind */
  box-sizing: border-box; /* Verhindert, dass Padding und Border die Kartenbreite beeinflussen */
}

#memoryContainer img {
  width: 100%; /* Bild nimmt die volle Breite der Karte ein */
  max-width: 200px;
  height: auto;
  max-height: 200px;
  object-fit: cover; /* Bild wird in der Karte angepasst */
  border-radius: 8px;
}

.card{
  cursor: pointer;
}